{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="pannel-center">
        {{ form_start(form ,{ 'attr': { 'class': 'form-signin' } }) }}
        {{ form_label(form.id, 'Theme a editer :') }}
        {{ form_widget(form.id, { 'attr': {'class': 'form-control'} }) }}
        {{ form_label(form.name_theme, 'Nouveau nom de theme :') }}
        {{ form_widget(form.name_theme, { 'attr': {'class': 'form-control'} }) }}
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content %}